.gameMenu {
    background-image: url("project://database/Assets/UI/Images/img_BG.png?fileID=2800000&guid=89f2bce445a9142caaeec6ea6667f772&type=3#img_BG");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    align-items: stretch;
    align-self: stretch;
    align-content: flex-start;
}
